<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ImpresorasGroup">
      <section name="Impresora" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MiConexion2" connectionString="server = pcl-pc;user id = atc;password = 123atc;port = 3306;database = packing5" />
    <add name="MiConexion" connectionString="server = localhost;user id = admin;password = 57706897;port = 3306;database = packing" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <ImpresorasGroup>
      <Impresora>
        <add key="Microsoft Print to PDF" value="false"/>
        <add key="OKI DATA CORP ML320/1TURBO" value="true"/>
      </Impresora>
    </ImpresorasGroup>
</configuration>